:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --bgc-footer-color: #2f303a;
  --bgc-primary-color: #ffffff;
  --bgc-accent-color: #f5f4fa;
  --hover-buttom-primary: #188ce8;
  --bgc-hero-color: #c4c4c4;
  --header-bordrer-color: #ececec;
  --svg-fill-color: #afb1b8;
  --footer-item-border-color: #eeeeee;
  --modal-close-icon: #000000;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

body {
  background-color: var(--bgc-primary-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: top;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
}

.button {
  border-radius: 4px;
  display: inline-block;
  padding: 0px;
  border: 0px solid transparent;
  color: var(--title-text-color);
}

.header.section {
  width: 100%;
  min-height: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--header-bordrer-color);
}

.sub-nav .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  vertical-align: Top;
}

.logo:hover, .logo:focus {
  color: var(--title-text-color);
}

.logo .logo-blu {
  color: var(--accent-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  vertical-align: Top;
}

.logo .logo-blu:hover, .logo .logo-blu:focus {
  color: var(--accent-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  transition: color var(--time-animation) var(--animation);
}

.sub-nav {
  display: flex;
  align-items: center;
}

.sub-nav > .item:first-child {
  margin-right: 93px;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-text-color);
}

.site-nav-list .link.current {
  position: relative;
  color: var(--accent-text-color);
}

.site-nav-list .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
}

.contacts-list .contacts-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.contacts-list .contacts-link-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-text-color);
}

.contacts-link:hover .contacts-link-icon,
.contacts-link:focus .contacts-link-icon {
  fill: var(--accent-text-color);
}

.list-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  list-style: none;
}

.list-buttons .item:not(:last-child) {
  margin-right: 8px;
}

.work-examples .button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--bgc-accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  vertical-align: top;
  transition: color var(--time-animation) var(--animation), background-color var(--time-animation) var(--animation), box-shadow var(--time-animation) var(--animation);
}

.work-examples .button:hover, .work-examples .button:focus {
  color: var(--bgc-primary-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples .button.current {
  color: var(--bgc-primary-color);
  background-color: var(--accent-text-color);
}

.card-action {
  position: relative;
  overflow: hidden;
}

.work-examples .action-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time-animation) var(--animation);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--bgc-primary-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.link-work-examples:hover .action-text,
.link-work-examples:focus .action-text {
  transform: translateY(0%);
}

.work-examples .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.06em;
}

.work-examples .text {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}

.list-examples {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.list-examples .footer-item {
  padding: 20px 24px;
  border-left: 1px solid var(--footer-item-border-color);
  border-right: 1px solid var(--footer-item-border-color);
  border-bottom: 1px solid var(--footer-item-border-color);
}

.list-examples .link-work-examples {
  display: block;
  color: inherit;
  text-decoration: none;
}

.list-examples .item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.list-examples .link-work-examples {
  transition: box-shadow var(--time-animation) var(--animation);
}

.list-examples .link-work-examples:hover, .list-examples .link-work-examples:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  background-color: var(--bgc-footer-color);
}

.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .text {
  margin-bottom: 20px;
  color: var(--bgc-primary-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .item:last-child {
  margin-bottom: 0px;
}

.footer .addres {
  color: var(--bgc-primary-color);
  transition: color var(--time-animation) var(--animation);
}

.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-animation) var(--animation);
}

.footer .link {
  display: block;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
}

.footer .link:hover, .footer .link:focus {
  color: var(--accent-text-color);
}

.footer-parts {
  display: flex;
  align-items: baseline;
}

.footer-item-address {
  margin-right: 70px;
}

.footer .logo {
  display: block;
  color: var(--bgc-primary-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--time-animation) var(--animation);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-text-color);
}

.social-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--svg-fill-color);
  transition: fill var(--time-animation) var(--animation);
}

.our-team .social-list-link:hover .social-list-icon,
.our-team .social-list-link:focus .social-list-icon {
  fill: var(--bgc-primary-color);
}

.footer .social-list-icon {
  fill: var(--bgc-primary-color);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-link:hover, .footer .social-list-link:focus {
  background-color: var(--accent-text-color);
}

.footer-form-subscribe {
  margin-left: auto;
}

.footer-form-subscribe-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bgc-primary-color);
}

.footer-form-subscribe-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--bgc-footer-color);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 12px;
}

.footer-form-subscribe-btn {
  position: relative;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--bgc-primary-color);
  transition: background-color var(--time-animation) var(--animation);
}

.footer-form-subscribe-btn:hover, .footer-form-subscribe-btn:focus {
  background-color: var(--hover-buttom-primary);
}

.subscribe-btn-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
/*# sourceMappingURL=portfolio.css.map */