.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-footer-color);

  .list{
    // text-align: center;
    margin-bottom: 60px;
  }
  .item:not(:last-child){
    margin-bottom: 8px;
  }
  .addres {
    color: var(--bgc-primary-color);
    transition: color var(--time-animation) var(--animation);
  }
  .contacts {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-animation) var(--animation);
  }
  .link {
    display: block;
    text-decoration: none;
  
    font-style: normal;
    line-height: 1.71;
    text-align: center;
  
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
}

.footer-item-social{
  margin-bottom: 60px;
  text-align: center;

  .text {
    margin-bottom: 20px;
    color: var(--bgc-primary-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .footer-item-address{
    margin-right: 165px;
  }
  .footer-item-social{
    margin-bottom: 0;
  }
  .main-nav__logo-footer{
    margin-right: 0;
  }
  .footer .list{
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 1200px) {
  .footer-wrapper{
    // margin-right: 93px;
    margin-bottom: 0;
  }
  .footer-parts{
    display: flex;
    align-items: baseline;
  }
  .footer-item-address {
    margin-right: 70px;
  }
  
  .footer .link{
    text-align: left;
  }
  .footer-item-social {
    text-align: left;
  }
}
