.main-nav__logo {
  padding: 20px 0;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  text-align: left;
  &:hover,
  &:focus {
    color: var(--title-text-color);
  }

  .main-nav__logo-blu {
    color: var(--accent-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    text-align: left;
    vertical-align: Top;
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__logo {
    padding: 20px 0;
  }
}
// !!!!Решить проблему!!!!!
// @media screen and (min-width: 1200) {
//   .main-nav__logo {
//     font-size: 26px;
//     line-height: 1.19;
//   }
//   .main-nav__logo-blu {
//     font-size: 26px;
//     line-height: 1.19;
//   }
// }