:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --bgc-footer-color: #2f303a;
  --bgc-primary-color: #ffffff;
  --bgc-accent-color: #f5f4fa;
  --hover-buttom-primary: #188ce8;
  --bgc-hero-color: #c4c4c4;
  --header-bordrer-color: #ececec;
  --svg-fill-color: #afb1b8;
  --footer-item-border-color: #eeeeee;
  --modal-close-icon: #000000;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;
}